<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.open9527.code.lib">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".samples.SamplesActivity"
            android:label="samples" />
        <activity
            android:name=".samples.androidtojs.AndroidToJsActivity"
            android:label="android js 互相调用" />
        <activity android:name=".samples.module.im.ChatActivity" />
        <activity android:name=".samples.module.im.ChatListActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
